<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lym.sourcecodeparse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".source.parse.intentservice.IntentServiceActivity">

        </activity>

        <service android:name=".source.parse.intentservice.MyIntentService" />

        <activity android:name=".source.parse.loader.LoaderActivity" />
        <activity android:name=".source.parse.fileprovider.FileProviderActivity" />
        <activity android:name=".source.parse.design.SuspensionActivity" />

        <activity android:name=".source.parse.activity.ActivityA" />
        <activity android:name=".source.parse.activity.ActivityB" />
        <activity android:name=".source.parse.startmodel.FirstActivity"

            />
        <activity
            android:name=".source.parse.startmodel.SecondActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".source.parse.startmodel.LastActivity"
            android:launchMode="singleTask" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.lym.sourcecodeparse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/private_path" />
        </provider>

        <activity android:name=".source.parse.design.ShadowActivity" />
        <activity android:name=".source.parse.eventparse.EventParseActivity" />
        <activity android:name=".source.parse.anim.AnimActivity" />
        <activity android:name=".source.parse.recyclerview.MultipleActivity" />
    </application>

</manifest>